body {
    background-color: black;
    
    width: 750px;
    margin: auto;
    font-family: "Avantgarde", sans-serif;
    }

  .effetbckd {
    background-image: url("./image/fondanime.gif");
      margin-top: 1px;
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 20px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 16px;
      border-radius: 10px;   
  }
/* MODIFICATIONS APRES COMMIT 17/02 MATIN */
  .nomPerso {
    color: #e60073;
    font-size: medium;
    font-weight: bold;
  }
  
  /* HEADER contenant le titre du jeu */
  h1 {
      /* background-color: #000033; */
      background-image: url("./image/fondanime.gif");
      color:#e60073;
      text-align: center;
      margin-top: 1px;
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 10px;
      padding-bottom: 16px;
      border-radius: 10px;
      border-style: solid;
      border-color: #00bdff;
    }

    .backgroundGame {
      background-image: url("./image/fond5.jpg");
      background-repeat: repeat;
      margin-top: 15px;
      padding-bottom: 15px;
      border-radius: 10px;
      border-style: solid;
      border-color: #00bdff;
    }

    /* VS Screen */
    .vsScreen {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: transparent;
      color: beige;
     }

      .input-groupe {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
      
      #button1 {
        background-color: #e60073;
        color: beige;
      }

      #button2 {
        background-color: #e60073;
        color: beige;
      }

     
      .leftScreen{
        background-color: #000033;
        text-align: center;
        /* margin-top: 1px; */
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 1px;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 10px;
        border-radius: 10px;
        border-style: solid;
        border-color:#00bdff;
      }

      .rightScreen {
        background-color: #000033;
        text-align: center;
        /* margin-top: 1px; */
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 1px;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 10px;
        border-radius: 10px;
        border-style: solid;
        border-color: #00bdff;

      }
     
      .hidden {
        display: none !important;
      }

      /* Canvas contenant le jeu */
      /* .canvasJeu {
        background-color: black;
        margin-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
        border-style: solid;
        border-color: #990030;
      } */

      /* Cadre bouton */
      .buttonConsole {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .btnleft {
        display: flex;
        flex-direction: row;
        background-color: #000033;
        border-radius: 10px;
        border-style: solid;
        border-color: #00bdff;
        margin-top: 15px;
        margin-left: 12px;
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 10px;
        padding-bottom: 10px;
      }

      .btnright {
        display: flex;
        flex-direction: row;
        background-color: #000033;
        border-radius: 10px;
        border-style: solid;
        border-color: #00bdff;
        margin-top: 15px;
        margin-right: 12px;
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 10px;
        padding-bottom: 10px;
      }

      /* log */
      h3 {
        color: #e60073;
        text-align: center;
      }
      .log {
        display: flex;
        flex-direction: column;
        background-color: #000033;
        color: beige;
        border-radius: 10px;
        border-style: solid;
        border-color: #00bdff;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 10px;
      }

      #log {
        text-align: center;
      }